@model AppMVCTest.Models.MessageViewModel

    <h3>Messages</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Date (UTC)</th>
            <th>Name</th>
            <th>Text</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.AllMessages.Any())
        {
            foreach (var msg in Model.AllMessages)
            {
                <tr>
                    <td>@msg.PostTime</td>
                    <td>@msg.UserName</td>
                    <td>@msg.MsgText</td>
                </tr>
            }
        }
        @if (!Model.AllMessages.Any())
        {
            <tr>
                <td colspan="3">
                    <div class="alert alert-warning" role="alert">
                        There are no messages yet.
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
