<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="Logs/${date:universalTime=true:format=yyyyMMdd}"/>
    <variable name="logTime" value="${date:universalTime=true:format=dd.MM.yyyy HH\:mm\:ss}"/>
    <targets>
        <target name="asyncFile" xsi:type="AsyncWrapper">
            <target name="logfile" xsi:type="File" fileName="${basedir}/${logDirectory}/${logger}" layout="${logTime}> ${message}" encoding="utf-8" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="asyncFile" />
    </rules>
</nlog>