<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="NetellerConfig" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	
	<!-- NETELLER SDK settings -->
  <NetellerConfig>
    <add key="clientId" value="XXXXXXXXXXXXXXXXXXXX" />
    <add key="clientSecret" value="YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY" />
    <add key="apiBaseUrl" value="https://test.api.neteller.com/" />
  </NetellerConfig>
</configuration>