@{
    ViewBag.Title = "Duris4e";
}

<h1>Добро пожаловать</h1>
<p>
    <a href="@Url.Action("Index", "Default")">Главная</a>
    <br />
    <a href="@Url.Action("Index", "Holidays")">Каникулы</a>
    <br />
    <a href="@Url.Action("Index", "Chat")">Чат</a>
</p>
